.sobre {
    padding-left: 60px;
    padding-top: 200px;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    
}

.sobre picture {
    padding-left: 60px;

}

.sobre p {
    text-align: justify;
    text-indent: 4rem;
    font-size: 1.15rem;
}
.sobre picture img {
    object-fit: cover;
    padding-top: 60px;
    border-radius: 5px;

}
h1 {
    padding-bottom: 20px;
}

/*MEDIA*/

@media (max-width: 991px) {

.sobre {
    padding-left: 70px;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-right: 70px;
    display:grid;
    grid-template-columns: auto;
    } 

.sobre img {
    display: none;
    }
}

@media (max-width: 600px) {
.sobre {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 20px;
}
}
