.carousel-inner p{
    font-size: 2rem;
}
.carousel-inner h5 {
    font-size: 4rem;
}

/*MEDIA*/

@media (max-width: 1505px){
    .carousel-inner h5{
        font-size: 3rem;
    }
    .carousel-inner>p{
        font-size: 1.25rem;
    }
}
@media (max-width: 903px ) {
    .carousel-inner h5{
        font-size: 2rem;
    }
    .carousel-inner p{
        font-size: 1rem;
    }
}