.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
ul {
    font-size: 1.15rem;
    gap: 10px;
}

.logo {
    margin-left: 20px;
}

.collapse {
    margin-left: 30px;
}

.collapse ul li a{
    border-bottom: 3px solid transparent;
    padding-top: 30px;
    padding-bottom: 30px;
}

.collapse ul li a:hover {
color:rgb(207, 3, 3);
border-bottom-color: rgb(207, 3, 3);
} 

button {
    gap:20px;
}

.pad {
    margin-right: 20px;
}

.espaco--button {
    margin-right: 30px;
}

/*MEDIA*/

@media (max-width: 991px)   {
    .media-display-first {
        display:none;
    }
    .media-display-button {
        display: block;
    }
}