.modalsobre {
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 1.25rem;
}

.modalsobre p {
    margin-left: 0px;
    text-align: justify;
    text-indent: 4rem;
    max-width: 100%;
}

.detalhes {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}

.detalhes img {
    position: relative;
}

.detalhes span {
    position: absolute;
    font-size: 3.5rem;
    color: #fefefe;
    top: 460px;
    padding-left: 30px;
}

.texto--detalhes p{
padding-bottom: 20px;
}

.texto--detalhes {
    font-size: 1.25rem;
    padding: 35px;
    padding-bottom: 30px;
}

/*MEDIA*/

@media (max-width: 1199px) {
.modalsobre>picture {
    padding-top: 50px;
    padding-left: 10px;
    size:50%;
}
}

@media (max-width: 991px) {
.modalsobre {
    padding-top: 0;
    display:grid;
    grid-template-columns: auto;
    }


.detalhes>span {
    display:none;
}

.texto--detalhes {
    padding-top: 20px;
    padding-bottom: 30px;
}
}