.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row img:hover {
    cursor: pointer;
}
.row-cols-3>.col {
    padding: 0;
}

.row-cols-2>.col {
    padding: 0;
}

.filtro {
    filter:grayscale(0%);
    transition: 0.25s;
    
}
.filtro:hover {
    filter:grayscale(100%);
}

.col {
    display: inline-block;
    position: relative;
}

.col span {
    position: absolute;
    top: 135px;
}

/*MEDIA*/

@media (min-width: 1184px)   {
.modelos-display-medium {
    display: none;
}
.modelos-display-small {
    display: none;
}
}
@media (max-width: 1184px)   {
.container-lg>h1{
    padding-left: 80px;
    }

.modelos-display-small {
    display: none;
    }
.modelos-display {
    display:none;
    }
.modelos-display-medium {
    display: block;
}
}

@media (max-width: 767px)  {
.modelos-display-medium{
    display: none;
}
.modelos-display-small {
    display: block;
}
}
