.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row img:hover {
    cursor: pointer;
}
.row-cols-3>.col {
    padding: 0;
}

.row-cols-2>.col {
    padding: 0;
}

.filtro {
    filter:grayscale(0%);
    transition: 0.25s;
    
}
.filtro:hover {
    filter:grayscale(100%);
}

.col {
    display: inline-block;
    position: relative;
}

.col span {
    color:#fefefe;
    font-size: 2rem;
    position: absolute;
    z-index: 99;
    top:0;
    margin-left: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 17px;
    margin-left: 30px;
    font-weight: bold;
    background-color: rgba(10,23,55,0.3);
    border-radius: 30px;
}

/*MEDIA*/

@media (min-width: 1184px)   {
.modelos-display-medium {
    display: none;
}
.modelos-display-small {
    display: none;
}
}
@media (max-width: 1184px)   {
.container-lg>h1{
    padding-left: 80px;
    }

.modelos-display-small {
    display: none;
    }
.modelos-display {
    display:none;
    }
.modelos-display-medium {
    display: block;
}

.col span {
    font-size: 1.5rem;
}
}

@media (max-width: 767px)  {
.modelos-display-medium{
    display: none;
}
.modelos-display-small {
    display: block;
}
}
