.display-tools-small {
    display:none;
}
.shopping {
    padding-top: 50px;   
}

.tools img {
    height: 100%;
    position: relative;
    width: 100%;
    filter:grayscale(0%);
    transition: 0.2s;
}

.tools img:hover{
    filter:grayscale(100%);
}
.shop-tools {
    padding-bottom: 200px;
}

.tools a{
    position: relative;
}

.tools span {
    margin-top: 20px;
    margin-left: 30px;
    position:absolute;
    font-size: 1.5rem;
    color:#fefefe;
    display: flex;
    top: 0;
    z-index: 99;
    animation: textButton 5s;
}

/* ANIMACAO */
@keyframes textButton {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shop-tools ul {
    padding: 0;
}
.shop-tools ul li{
    list-style: none;

}

/*MEDIA*/

@media (max-width: 991px)   {

.shop-tools {
    margin-bottom: 100px;
}  
}

@media (max-width: 767px) {
.display-tools{
    display: none;
}
.display-tools-small{
    display: block;

}
.shopping {
    padding-top: 50px;
 }   
.shop-tools {
    margin-bottom: 60px;
}
.tools span {
    margin-left: 30px;
    position:absolute;
    font-size: 3rem;
    color:#fefefe;
    padding-top: 0px;
    z-index: 99;
    top: 0;
}
}