.shopping {
    padding-top: 150px;   
}

.tools {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    filter:grayscale(0%);
    transition: 0.25s;
}

.tools:hover{
    filter:grayscale(100%);
}
.tools img{
    position: relative;
    margin-bottom: 200px;
}

.tools span {
    position: absolute;
    font-size: 2rem;
    color:#fefefe;
    display: flex;
    padding-left: 25px;
    padding-top: 45px;
}

/*MEDIA*/

@media (max-width: 991px)   {
.shopping {
    padding-top: 70px;
} 
.tools img {
    margin-bottom: 100px;
}  
}

@media (max-width: 575px) {
.shopping {
    padding-top: 50px;
 }   
.tools img {
    margin-bottom: 80px;
}
}