.shopping {
    padding-top: 200px;
    
}

.tools {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    filter:grayscale(0%);
    transition: 0.25s;
}

.tools:hover{
    filter:grayscale(100%);
}
.tools img{
    position: relative;
    margin-bottom: 200px;
}

.tools span {
    position: absolute;
    font-size: 2rem;
    color:#fefefe;
    display: flex;
    padding-left: 25px;
    padding-top: 45px;
}

/*MEDIA*/

@media (max-width: 991px)   {
.shopping>h1 {
    padding-top: 80px;
    padding-left: 80px;
    }
.tools img {
    padding-bottom: 80px;
}
}